/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*common*/
.flex{
    display: flex;
}
ul{
    list-style-type: none;
}
/*Layout*/
main{
    flex-direction: row;
    display: flex;
}
.container:first-child{
    width: 15%;
    min-width: 10%;
    /*debug*/
    height: fit-content;
    background-color: aqua;
}
.container:nth-child(2){
    width: 70%;
    min-width: 60%;
    /*debug*/
    height: fit-content;
    background-color: orange;
}
.container:last-child{
    width: 15%;
    min-width: 10%;
    /*debug*/
    height: fit-content;
    background-color: bisque;
}

/*NAVBAR*/
.container:first-child{
    flex-direction: column;
}
/* LOGO */
.container:first-child 
.logo{
    /*debug*/
    height: 200px;   
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.logo
img{
    width: 100%;
}
.navbarlist{
    background-color: rgba(79, 79, 179, 0.932);
    text-align: center;
}
.navbarlist ul li{
    padding: 10px 0;
    font-size: 20px;
    margin: 20px 30px;
    border: 1px solid transparent;
}
.navbarlist ul li:hover{
    border: 1px solid black;
    border-radius: 25px;
    
}
/*/NAVBAR*/

/*MAINSECTION*/
/*HEADER*/
/*SEARCHBAR*/
.searchbar{
    width: 100%;
    /*debug*/
    height: 100px;
    background-color: rgb(0, 255, 34);
    position: relative;    
}
.searchinput{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 50px;
    background-color: rgb(255, 255, 255); 
    border-radius: 20px;
}
.barraricerca{
    font-size: 30px;
    width: 90%;
    height: 100%;
    padding: 5px;
    margin-left: 15px;
    border: 0;
    outline: none;              /*elimina il bordo allo click*/
}
#search{
    border: 0;
    background-color: transparent;
    margin-left: 25px;
    font-size: 25px;
    color: grey;
}
/*/SEARCHBAR*/
/*PERSONAL-MENUS*/
.persmenu{
    width: 100%;
    /*debug*/
    height: 50px;
    background-color: green;
}

/*SLIDER*/
.slider{
    width: 100%;
    /*debug*/
    height: 400px;
    background-color: rgb(142, 172, 142);
}
/*RECOMMENDED-FOR-YOU-SECTION*/
.recsec{
    width: 100%;
    /*debug*/
    height: 600px;
    background-color: rgb(35, 59, 35);
}
/*WATCH-NEXT-SECTION*/
.watchsec{
    width: 100%;
    /*debug*/
    height: 200px;
    background-color: rgb(95, 109, 16);
}
.listensec{
    width: 100%;
    /*debug*/
    height: 200px;
    background-color: rgb(181, 206, 39); 
}
/*mainsection*/

/*FOOTER*/
footer{
    /*debug*/
    height: 500px;
    background-color: rgb(0, 0, 0); 
}